$font-primary: 'Bai Jamjuree', sans-serif;

.g-btn
{
    padding: 7.11px 11.37px;
    background-color: #fe6c00;
    border-radius: 5px;
}
.g-texts
{
    font-weight: 400;
    font-size: 7px;
    color: #fff;
}
.g-texts-mainSection
{
    font-weight: 400;
    font-size: 8px;
    color: #a8a5a6;
}
