$font-primary: 'Bai Jamjuree', sans-serif;

@mixin g-btn
{
    padding: 10px 20px;
    padding-right: 56px;
    background-color: #fe6c00;
    border-radius: 10px;
}
.g-texts
{
    font-weight: 400;
    font-size: 17px;
    color: #fff;
}
.g-texts-mainSection
{
    font-weight: 400;
    font-size: 18px;
    color: #a8a5a6;
}
