.mainDashBoard-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 15px;
}
.mainDashBoard-grid-blocs
{
    background: #29221d;
    border-radius: 20px;
    padding: 20px;
}
.mainDashBoard-grid-block-titles
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-svg
    {
        width: 20px;
        height: 20px;

    }
}